.main{
    width: 100%;
    display: inline-block;
    background-color: #E8CE3A;
    margin: auto;
}
.main .title{
    text-align: center;
    background-color:#E8CE3A;
}
.title h1{
    display: inline-block;
    background-color: #3D74F0;
    opacity: 0.5;
    color: white;
    margin: 1rem 0;
    padding: 1.3rem;
    border-radius: 16px;
    box-shadow:inset 0 2px 16px #000000;
}
